---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Spartan Fest MX">
  <div class="bg__custom grid h-[35vh] md:h-[80%] relative">
    <header
      class="bg__green absolute flex flex-col h-full md:mx-[20%] mx-16 w-[70%]"
    >
      <div class="animate-fade-up animate-once animate-delay-[400ms]">
        <img
          src="https://res.cloudinary.com/dnaokhykr/image/upload/v1692932314/spartan%20fest/spartanFest__logo_ohq4is.png"
          alt="Spartan Fest MX Evento para fans de la saga de videojuegos Halo"
          class="w-32 md:w-64 mx-auto filter drop-shadow-lg"
        />
        <div class="flex items-center justify-center">
          <h1
            class="mainFont uppercase text-3xl md:text-7xl bg-gradient-to-b from-[#F1D494] to-[#9B7A33] text-transparent bg-clip-text"
          >
            Spartan
          </h1>
          <div class="grid h-full">
            <span class="text-10px md:text-[20px]">FEST</span>
            <span class="-mt-2 md:-mt-4 text-[15px] md:text-[35px]">MX</span>
          </div>
          <span class="rotate-90 text-[11px] md:text-[22px] -ml-2 md:-ml-3"
            >2023</span
          >
        </div>
      </div>
      <div class="text-center">
        <p class="md:text-2xl">Octubre 14, 2023</p>
      </div>
      <div class="bg-[#1f1f1f] w-full flex justify-center items-center">
        <img
          class="h-14 md:h-16"
          src="https://www.convencionestlatelolco.com/img/logo.png"
          alt=""
        />
        <div>
          <p class="text-xs md:text-2xl">Centro de convenciones</p>
          <span class="main__Font text-[15px] md:text-[30px] font-bold"
            >Tlatelolco</span
          >
        </div>
      </div>
    </header>

    <section
      class=`{
		flex justify-between items-center
		[&>div>img]:h-[240px] [&>div>img]:md:h-[100%] [&>div>img]:relative
		[&>div]:md:mx-28 [&>div]:mx-4
	}`
    >
      <div class="left-0 relative">
        <img
          src="https://res.cloudinary.com/dnaokhykr/image/upload/v1692932313/spartan%20fest/Master_chief_halo_infinite_zqvzdv.png"
          alt=""
          class="animate-fade-right animate-once"
        />
      </div>
      <div class="right-0 relative">
        <img
          src="https://res.cloudinary.com/dnaokhykr/image/upload/v1693433326/Cortana_Halo_4_yhsiow.png"
          alt=""
          class="animate-fade-left animate-once mr-4"
        />
      </div>
    </section>
  </div>

  <div class="container my-10 mx-auto md:px-6">
    <section class="container mx-auto text-center lg:text-left xl:px-32">
      <div class="grid items-center lg:grid-cols-2">
        <div class="mb-2 lg:mb-0">
          <div
            class="relative z-[1] block rounded-lg bg-[#13212b86] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[30px] md:px-12 lg:-mr-14"
          >
            <div class="flex items-center justify-center">
              <h1
                class="mainFont uppercase text-3xl md:text-7xl bg-gradient-to-b from-[#F1D494] to-[#9B7A33] text-transparent bg-clip-text"
              >
                Spartan
              </h1>
              <div class="grid h-full">
                <span class="text-10px md:text-[20px]">FEST</span>
                <span class="-mt-2 md:-mt-4 text-[15px] md:text-[35px]">MX</span
                >
              </div>
              <span class="rotate-90 text-[11px] md:text-[22px] -ml-2 md:-ml-3"
                >2023</span
              >
            </div>
            <p class="mb-8 pb-2 nativeRegular text-justify">
              Sumérgete en el universo de Spartan Fest MX 2023, el evento anual
              imprescindible para los amantes de la legendaria franquicia de
              videojuegos, Halo. Explora stands de venta repletos de mercancía
              exclusiva, compite en trepidantes torneos, conoce a creadores de
              contenido y actores de doblaje, y disfruta de una comunidad
              apasionada. Únete a nosotros en esta celebración épica que une a
              jugadores y fans en un solo lugar. ¡Prepárate para vivir la
              experiencia inolvidable de Spartan Fest MX 2023!
            </p>
          </div>
        </div>

        <div>
          <img
            src="https://res.cloudinary.com/dnaokhykr/image/upload/v1693588040/366050704_669207801903508_966518417199467370_n_q55mer.jpg"
            class="w-full rounded-lg shadow-lg"
            alt="image"
          />
        </div>
      </div>
    </section>
  </div>

  <div class="bg_reach">
    <div class="w-full text-center mainFont text-3xl">
      <h1
        class="mainFont uppercase text-3xl md:text-7xl bg-gradient-to-b from-[#F1D494] to-[#9B7A33] text-transparent bg-clip-text"
      >
        Remember reach
      </h1>
    </div>

    <div class="flex flex-wrap items-center md:mx-20">
      <div
        class="mb-6 w-full shrink-0 grow-0 basis-auto lg:mb-0 lg:w-6/12 lg:pr-6"
      >
        <div
          class="ripple relative overflow-hidden rounded-lg bg-cover bg-[50%] bg-no-repeat shadow-lg dark:shadow-black/20"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <img
            src="https://res.cloudinary.com/dnaokhykr/image/upload/v1693596412/364742575_670972071727081_3623757450652362831_n_alufd3.jpg"
            class="w-full"
            alt="Louvre"
          />
        </div>
      </div>

      <div
        class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 lg:pl-6 px-4 md:px-0 text-justify"
      >
        <h3 class="mb-4 md:text-2xl font-bold">
          Reach no tardó mucho en caer, el enemigo era implacable, eficiente..
          Pero no fue lo suficientemente rápido, porque ellos ya habían pasado
          la antorcha, gracias a ellos encontramos el Halo...
        </h3>
        <p class="md:text-lg">
          ¡SPARTANS!Queremos iniciar fuertemente anunciando a nuestros grandes
          invitados especiales que nos visitan desde REACH y estarán presentes
          en #SpartanFestMX2023. La SPARTAN Xóchitl Ugarte y los SPARTANS
          Gerardo Garcia y Octavio Rojas los estarán esperando en SPARTAN FEST
          MX 2023 para que puedan convivir con ellos el próximo Sábado 14 de
          Octubre en el Centro de Convenciones Tlatelolco, CDMX.
        </p>
      </div>
    </div>
  </div>

  <div class="container my-24 mx-auto md:px-6">
    <section class="mb-32">
      <h2 class="mb-16 text-center text-2xl font-bold">
        El gran viaje del 2023
      </h2>

      <div class="mb-16 flex flex-wrap">
        <div
          class="mb-6 w-full shrink-0 grow-0 basis-auto lg:mb-0 lg:w-6/12 lg:pr-6"
        >
          <div
            class="ripple relative overflow-hidden rounded-lg bg-cover bg-[50%] bg-no-repeat shadow-lg dark:shadow-black/20"
            data-te-ripple-init
            data-te-ripple-color="light"
          >
            <iframe
              src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2F100064428832991%2Fvideos%2F689908153034607%2F&show_text=false&width=560&t=0"
              class="w-full h-[220px] md:h-[330px]"
              style="border:none;overflow:hidden"
              scrolling="no"
              frameborder="0"
              allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
            >
            </iframe>
          </div>
        </div>

        <div
          class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 lg:pl-6 px-4 md:px-0"
        >
          <h3 class="mb-4 text-2xl font-bold">
            Yo quiero de lo que fuma este tipo...
          </h3>
          <a
            href="https://www.youtube.com/user/UltimoPlayer/featured"
            target="_blank"
            class="mb-4 flex items-center text-sm font-medium text-danger dark:text-danger-500"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="mr-2 h-5 w-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12.75 3.03v.568c0 .334.148.65.405.864l1.068.89c.442.369.535 1.01.216 1.49l-.51.766a2.25 2.25 0 01-1.161.886l-.143.048a1.107 1.107 0 00-.57 1.664c.369.555.169 1.307-.427 1.605L9 13.125l.423 1.059a.956.956 0 01-1.652.928l-.679-.906a1.125 1.125 0 00-1.906.172L4.5 15.75l-.612.153M12.75 3.031a9 9 0 00-8.862 12.872M12.75 3.031a9 9 0 016.69 14.036m0 0l-.177-.529A2.25 2.25 0 0017.128 15H16.5l-.324-.324a1.453 1.453 0 00-2.328.377l-.036.073a1.586 1.586 0 01-.982.816l-.99.282c-.55.157-.894.702-.8 1.267l.073.438c.08.474.49.821.97.821.846 0 1.598.542 1.865 1.345l.215.643m5.276-3.67a9.012 9.012 0 01-5.276 3.67m0 0a9 9 0 01-10.275-4.835M15.75 9c0 .896-.393 1.7-1.016 2.25"
              ></path>
            </svg>
             El último player
          </a>
          <p class="mb-6 text-lg">
            ¡SPARTANS! Nos es un gran honor revelar a otro invitado ESPECIAL que
            tendrémos presente en #SPARTANFESTMX2023 que gracias al gran equipo
            de Machinifilms es posible este suceso. Claro estamos hablando de El
            Último Player creador de las machinimas más famosas de la comunidad
            como lo es: Ayuda Mundial, Somos ODST, Comando Cero y muchas más!
            Estará presente en escenario este año en SPARTAN FEST MX ¡Muy
            atentos que se vienen más cosas para este evento SPARTANS!
          </p>
        </div>
      </div>

      <div class="mb-16 flex flex-wrap lg:flex-row-reverse">
        <div
          class="mb-6 w-full shrink-0 grow-0 basis-auto lg:mb-0 lg:w-6/12 lg:pl-6"
        >
          <div
            class="ripple relative overflow-hidden rounded-lg bg-cover bg-[50%] bg-no-repeat shadow-lg dark:shadow-black/20"
            data-te-ripple-init
            data-te-ripple-color="light"
          >
            <img
              src="https://res.cloudinary.com/dnaokhykr/image/upload/v1693595181/spartan_fest_mx_311117385_759074375806057_7926655619749857428_n_cvshlh.jpg"
              class="w-full"
              alt="Louvre"
            />
          </div>
        </div>

        <div
          class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 lg:pr-6 px-4 md:px-0"
        >
          <h3 class="mb-4 text-2xl font-bold">Mercancia limitada</h3>
          <div
            class="mb-4 flex items-center text-sm font-medium text-primary dark:text-primary-400"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="mr-2 h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9.53 16.122a3 3 0 00-5.78 1.128 2.25 2.25 0 01-2.4 2.245 4.5 4.5 0 008.4-2.245c0-.399-.078-.78-.22-1.128zm0 0a15.998 15.998 0 003.388-1.62m-5.043-.025a15.994 15.994 0 011.622-3.395m3.42 3.42a15.995 15.995 0 004.764-4.648l3.876-5.814a1.151 1.151 0 00-1.597-1.597L14.146 6.32a15.996 15.996 0 00-4.649 4.763m3.42 3.42a6.776 6.776 0 00-3.42-3.42"
              ></path>
            </svg>
             @jafetmeza25, @yadatex, @el_bloque_del_saber
          </div>
          <p class="text-lg">
            ¡Estamos emocionados de anunciar que en nuestro próximo evento
            encontrarán una selección exclusiva de mercancía limitada de Halo!
            Prepárense para sumergirse en el emocionante mundo de Halo con
            productos únicos que solo podrán adquirir aquí. Desde camisetas y
            figuras coleccionables hasta accesorios temáticos, estamos seguros
            de que los fans de esta icónica franquicia encontrarán algo que les
            encante. ¡No se pierdan esta oportunidad de llevar a casa un
            pedacito del universo de Halo!
          </p>
        </div>
      </div>

      <div class="flex flex-wrap">
        <div
          class="mb-6 w-full shrink-0 grow-0 basis-auto lg:mb-0 lg:w-6/12 lg:pr-6"
        >
          <div
            class="ripple relative overflow-hidden rounded-lg bg-cover bg-[50%] bg-no-repeat shadow-lg dark:shadow-black/20"
            data-te-ripple-init
            data-te-ripple-color="light"
          >
            <img
              src="https://res.cloudinary.com/dnaokhykr/image/upload/v1693634880/spartan_fest_mx_310929640_798195498183056_7140240855392583771_n_jsokws.jpg"
              class="w-full"
              alt="Louvre"
            />
          </div>
        </div>

        <div class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 lg:pl-6">
          <h3 class="mb-4 text-2xl font-bold">Actividades y dinamicas</h3>
          <p class="text-lg">
            En el emocionante evento Spartan Fest MX de Halo, los fanáticos de
            esta icónica franquicia de videojuegos pueden participar en una
            amplia gama de actividades y dinámicas que les sumergen en el
            universo de Master Chief. Uno de los momentos más destacados es el
            torneo de disparo de dardos, donde los participantes pueden
            demostrar su puntería y precisión al estilo de los Spartans.
            Equipados con dardos especialmente diseñados con temática de Halo,
            los jugadores compiten en un emocionante torneo para ver quién puede
            alcanzar la máxima puntuación. Ya sea apuntando a los icónicos
            enemigos Covenant o a los escenarios emblemáticos del juego, este
            torneo de disparo de dardos agrega un toque único y divertido al
            evento, permitiendo que los asistentes muestren sus habilidades
            mientras disfrutan del mundo de Halo. Además, este torneo a menudo
            viene acompañado de premios y reconocimientos para los mejores
            tiradores, lo que agrega aún más emoción a la experiencia Spartan
            Fest MX.
          </p>
        </div>
      </div>
    </section>
  </div>

  <section
    class="timer h-[20vh] md:h-[60vh] grid content-center justify-center text-center mt-20 -mb-10"
  >
    <p class="text-5xl nativeRegular">Nos vemos en</p>
    <span id="countdown" class="text-2xl font-medium bg-[#13131325]"></span>
  </section>
</Layout>

<style>
  .bg__green {
    background-color: #5a6835;
    clip-path: polygon(
      4% 0,
      100% 0,
      95% 14%,
      95% 100%,
      70% 100%,
      0 100%,
      4% 88%,
      4% 31%
    );
  }
  .bg__custom {
    background-image: url("https://res.cloudinary.com/dnaokhykr/image/upload/v1692941171/spartan%20fest/background__spartanfest_mannfq.jpg");
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
  }

  .bg__main {
    background-image: url("https://res.cloudinary.com/dnaokhykr/image/upload/v1693429622/descarga_bbidgu.gif");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .timer {
    position: relative;
    background-color: #03021859;
  }

  .timer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://res.cloudinary.com/dnaokhykr/image/upload/v1693429627/tumblr_1cdb1cc428ef3efcd3a458f30295c62b_568cead6_1280_tbrzzl.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2.5px);
    z-index: -1;
  }
  .bg_reach {
    background-image: url("https://res.cloudinary.com/dnaokhykr/image/upload/v1693429613/tumblr_5ea482c0ac214beda6279eea5b2984f4_6fad1389_640_xiwaic.gif");
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>

<script>
  function updateCountdown() {
    const targetDate = new Date("2023-10-14T00:00:00");
    const currentDate = new Date();

    const timeRemaining: number = targetDate.valueOf() - currentDate.valueOf();

    const days: number = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
    const hours: number = Math.floor(
      (timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
    );
    const minutes: number = Math.floor(
      (timeRemaining % (1000 * 60 * 60)) / (1000 * 60)
    );
    const seconds: number = Math.floor((timeRemaining % (1000 * 60)) / 1000);

    const countdownElement: HTMLElement | null =
      document.getElementById("countdown");
    if (countdownElement) {
      countdownElement.textContent = `${days}: ${hours}: ${minutes} y ${seconds} segundos`;
    }
  }

  setInterval(updateCountdown, 1000);

  updateCountdown();
</script>
