---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog Spartan Fest MX">
  <nav class="grid md:flex mx-auto container my-4 items-end text-[#d3cdcd]">
    <div class="">
      <div class="">
        <h1 class="text-4xl industryLight font-semibold mr-10">Blog</h1>
      </div>
      <div class="hidden md:block h-[2px] mt-4 bg-[#4a4d53] w-[100%] relatives">
      </div>
    </div>

    <div class="flex items-center justify-between">
      <div class="">
        <div class="">
          <a href="/blog" class="hover:text-[white]">Todo</a>
        </div>
        <div
          class="hidden md:block h-[2px] mt-4 bg-[#4a4d53] w-[100%] relatives mr-[100px]"
        >
        </div>
      </div>

      <div class="">
        <div class="">
          <a href="/mercancia" class="hover:text-[white]">Mercancia</a>
        </div>
        <div
          class="hidden md:block h-[2px] mt-4 bg-[#4a4d53] w-[100%] relatives mr-[100px]"
        >
        </div>
      </div>
    </div>
  </nav>

  <section class=" container gap-10 md:mx-auto grid md:grid-cols-2 lg:grid-cols-3 md:gap-4 animate-fade-up">

    <div class="bg-[#202020] grid border-[#424242] rounded-xl p-2">
      <img
        src="https://res.cloudinary.com/dnaokhykr/image/upload/v1693595181/spartan_fest_mx_311117385_759074375806057_7926655619749857428_n_cvshlh.jpg"
        alt="Spartan Fest MX"
        class=" rounded-xl w-[100%]"
      />
      <div class="p-2">
        <h2 class="font-semibold uppercase">Merch limitada</h2>
        <p>autor: loremipsum</p>
      </div>
    </div>

    <div class="bg-[#202020] grid border-[#424242] rounded-xl p-2">
      <img
        src="https://res.cloudinary.com/dnaokhykr/image/upload/v1693595181/el_bloque_del_saber_254450412_555337828863588_2690405644431279096_n_ln6fdt.jpg"
        alt="Spartan Fest MX"
        class=" rounded-xl w-[100%]"
      />
      <div class="p-2">
        <h2 class="font-semibold uppercase">Merch limitada</h2>
        <p>autor: loremipsum</p>
      </div>
    </div>

    <div class="bg-[#202020] grid border-[#424242] rounded-xl p-2">
      <img
        src="https://res.cloudinary.com/dnaokhykr/image/upload/v1693595181/sierrajm117_333638129_573330834858494_36723989098842422_n_oszc1a.jpg"
        alt="Spartan Fest MX"
        class=" rounded-xl h-[75%] w-[100%]"
      />
      <div class="p-2">
        <h2 class="font-semibold uppercase">Merch limitada</h2>
        <p>autor: loremipsum</p>
      </div>
    </div>

    <div class="bg-[#202020] grid border-[#424242] rounded-xl p-2">
      <img
        src="https://res.cloudinary.com/dnaokhykr/image/upload/v1693595183/spartan_fest_mx_311293009_791815585426948_6726048604145442360_n_vyaeg9.jpg"
        alt="Spartan Fest MX"
        class=" rounded-xl w-[100%]"
      />
      <div class="p-2">
        <h2 class="font-semibold uppercase">Merch limitada</h2>
        <p>autor: loremipsum</p>
      </div>
    </div>

    <div class="bg-[#202020] grid border-[#424242] rounded-xl p-2">
      <img
        src="https://res.cloudinary.com/dnaokhykr/image/upload/v1693598347/jcesar_stopmotion_311523386_882197352752017_8627164622246960406_n_pr356m.jpg"
        alt="Spartan Fest MX"
        class=" rounded-xl w-[100%]"
      />
      <div class="p-2">
        <h2 class="font-semibold uppercase">Merch limitada</h2>
        <p>autor: loremipsum</p>
      </div>
    </div>

    <div class="bg-[#202020] grid border-[#424242] rounded-xl p-2">
      <img
        src="https://res.cloudinary.com/dnaokhykr/image/upload/v1693595181/spartan_fest_mx_311117385_759074375806057_7926655619749857428_n_cvshlh.jpg"
        alt="Spartan Fest MX"
        class=" rounded-xl w-[100%]"
      />
      <div class="p-2">
        <h2 class="font-semibold uppercase">Merch limitada</h2>
        <p>autor: loremipsum</p>
      </div>
    </div>

  </section>
</Layout>