---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Trayectoria Spartan Fest MX">
  <section class="container mx-auto flex flex-col items-start md:flex-row">
    <div
      class="flex flex-col w-full sticky md:top-36 lg:w-1/3 mt-2 md:mt-12 px-8 animate-fade-right"
    >
      <p class="ml-2 text-yellow-300 uppercase tracking-loose">
        Nuestro gran viaje
      </p>
      <div class="flex items-center justify-center">
        <h1
          class="mainFont uppercase text-3xl md:text-7xl bg-gradient-to-b from-[#F1D494] to-[#9B7A33] text-transparent bg-clip-text"
        >
          Spartan
        </h1>
        <div class="grid h-full">
          <span class="text-10px md:text-[20px]">FEST</span>
          <span class="-mt-2 md:-mt-4 text-[15px] md:text-[35px]">MX</span>
        </div>
      </div>
      <p class="text-sm md:text-base text-gray-50 mb-4">
        La evolución de un evento de fans para fans de la saga Halo, a lo largo
        de estos cuatro años juntos
      </p>
    </div>

    <div class="ml-0 md:ml-12 lg:w-2/3 sticky animate-flip-down">
      <div class="container mx-auto w-full h-full">
        <div class="relative wrap overflow-hidden p-10 h-full">
          <div
            class="border-yellow-555 absolute h-full r-[50%] border-2 border-[#FFC100] rounded-lg right-[50%] -z-20"
          >
          </div>
          <div
            class="border-yellow-555 absolute h-full l-[50%] border-2 border-[#FFC100] rounded-lg left-[50%] -z-20"
          >
          </div>

          <div
            class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline md:relative"
          >
            <div class="order-1 w-5/12"></div>
            <div class="order-1 w-5/12 px-1 py-4 text-right">
              <p class="mb-3 text-base text-yellow-300">2020</p>
              <h4 class="mb-3 font-bold text-lg md:text-2xl">
                El SPARTAN FEST MX | LIVE
              </h4>
              <p
                class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100"
              >
                Mejor que nos acompañes desde tu hogar
              </p>
            </div>
            <img
              src="https://res.cloudinary.com/dnaokhykr/image/upload/v1693530162/01c433db-7006-4c43-a454-8f05525c3beb_td1mby.png"
              alt=""
              class="absolute -z-10 md:mt-20"
            />
          </div>

          <div
            class="mb-8 flex justify-between items-center w-full right-timeline relative md:mt-40"
          >
            <img
              src="https://res.cloudinary.com/dnaokhykr/image/upload/v1693762788/blue-elite-win-halo-reach-red-elite-11563244260vy9sotmsw7_majbkh.png"
              alt=""
              class="absolute h-[90%] md:h-[120%] md:ml-36 -z-10"
            />
            <div class="order-1 w-5/12"></div>
            <div class="order-1 w-5/12 px-1 py-4 text-left">
              <p class="mb-3 text-base text-yellow-300">2021</p>
              <h4 class="mb-3 font-bold text-lg md:text-2xl">MC aniversary</h4>
              <p
                class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100"
              >
                Este año tenemos que celebrar un 20° aniversario y el
                lanzamiento de una gran entrega.
              </p>
            </div>
          </div>

          <div
            class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline md:mt-28"
          >
            <div class="order-1 w-5/12"></div>
            <div class="order-1 w-5/12 px-1 py-4 text-right">
              <p class="mb-3 text-base text-yellow-300">2022</p>
              <h4 class="mb-3 font-bold text-lg md:text-2xl">
                Result Declaration
              </h4>
              <p
                class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100"
              >
                ¡Estamos listos! ¿Y tú?
              </p>
            </div>
            <img
              src="https://res.cloudinary.com/dnaokhykr/image/upload/v1693762789/928-9286279_master-chief-render-photo-master-chief-and-cortana_r2azbu.png"
              alt=""
              class="absolute h-[12%] md:h-[25%] -z-10"
            />
          </div>

          <div
            class="mb-8 flex justify-between items-center w-full right-timeline md:mt-28"
          >
            <div class="order-1 w-5/12"></div>

            <div class="order-1 w-5/12 px-1 py-4">
              <p class="mb-3 text-base text-yellow-300">Octubre 2023</p>
              <h4 class="mb-3 font-bold text-lg md:text-2xl text-left">
                Remember Reach
              </h4>
              <p
                class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100"
              >
                Continuamois el trayecto de nuestro camino este año
              </p>
            </div>
          </div>
        </div>
        <img
          class="mx-auto -mt-36 md:-mt-36 h-48 relative"
          src="https://res.cloudinary.com/dnaokhykr/image/upload/v1692932314/spartan%20fest/spartanFest__logo_ohq4is.png"
        />
      </div>
    </div>
  </section>
</Layout>
