---
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro'
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://res.cloudinary.com/dnaokhykr/image/upload/v1692932314/spartan%20fest/spartanFest__logo_ohq4is.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <NavBar />
    <slot />
    <Footer/>
  </body>
</html>
<style is:global>
  html {
    background-image: url("https://res.cloudinary.com/dnaokhykr/image/upload/v1692943660/spartan%20fest/covenant__bg_uc6fgt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #f0f8ff;
  }
  * {
    font-family: industryBook;
  }
  @font-face {
    font-family: "industryBook";
    src: url("../assets/fonts/Industry/IndustryTest-Book.otf");
  }
  @font-face {
    font-family: "industryLight";
    src: url("../assets/fonts/Industry/IndustryTest-Light.otf");
  }
  .industryLight{
    font-family: industryLight;
  }
  @font-face {
    font-family: "nativeRegular";
    src: url("../assets/fonts/Native/Native-Regular.ttf");
  }
  .nativeRegular {
    font-family: nativeRegular;
  }
  @font-face {
    font-family: "mainFont";
    src: url("../assets/fonts/stencilia/Stencilia-A.ttf");
  }
  .mainFont {
    font-family: mainFont;
  }
</style>
